<div class="mb-1">
    <a class="flex justify-between hover:text-blue-800 hover:border-blue-400 hover:bg-blue-100 ps-1 hover:cursor-pointer border border-blue-100 rounded-xl"
        hx-get="{{ path('autoadmin_entity_view', {'fqcn': fqcn|url_encode, 'id': id}) }}"
        href="{{ path('autoadmin_entity_view', {'fqcn': fqcn|url_encode, 'id': id}) }}"
        hx-push-url="true"
        hx-swap="none">{{ label|replace({'App\\Entity\\':'', 'App\\':''})|raw }}</a>
</div>